<div class="sidebar">
    <!--
      Tip 1: You can change the color of the sidebar using: data-color="blue | green | orange | red"
  -->
    <div class="sidebar-wrapper">
        <ul class="nav">
            <li class="{% if 'index' in segment %} active {% endif %}">
                <a href="/" style="display: flex; align-items: center;">
                    <i class="tim-icons icon-chart-pie-36" style="font-size: 24px;"></i>
                    <h5 style="margin: 0; padding-left: 15px; font-size: 18px;">地图模式</h5>
                </a>
            </li>
            <li class="{% if 'live' in segment %} active {% endif %}">
                <a href="/live.html" style="display: flex; align-items: center;">
                    <i class="tim-icons icon-atom" style="font-size: 24px;"></i>
                    <h5 style="margin: 0; padding-left: 15px; font-size: 18px;">直播模式</h5>
                </a>
            </li>
            <li class="{% if 'user' in segment %} active {% endif %}">
                <a href="{% url 'user_data' %}" style="display: flex; align-items: center;">
                    <i class="tim-icons icon-single-02" style="font-size: 24px;"></i>
                    <h5 style="margin: 0; padding-left: 15px; font-size: 18px;">账户设置</h5>
                </a>
            </li>
            <li class="{% if 'device_list' in segment %} active {% endif %}">
                <a href="{% url 'device_list' %}" style="display: flex; align-items: center;">
                    <i class="tim-icons icon-pin" style="font-size: 24px;"></i>
                    <h5 style="margin: 0; padding-left: 15px; font-size: 18px;">设备详情</h5>
                </a>
            </li>
            <li class="{% if 'notifications' in segment %} active {% endif %}">
                <a href="/notifications.html" style="display: flex; align-items: center;">
                    <i class="tim-icons icon-bell-55" style="font-size: 24px;"></i>
                    <h5 style="margin: 0; padding-left: 15px; font-size: 18px;">预警信息</h5>
                </a>
            </li>
            <li class="{% if 'tables' in segment %} active {% endif %}">
                <a href="/tables.html" style="display: flex; align-items: center;">
                    <i class="tim-icons icon-puzzle-10" style="font-size: 24px;"></i>
                    <h5 style="margin: 0; padding-left: 15px; font-size: 18px;">后台管理</h5>
                </a>
            </li>
        </ul>
    </div>
</div>