<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="apple-touch-icon" sizes="76x76" href="{{ ASSETS_ROOT }}/img/apple-icon.png">
    <link rel="icon" type="image/png" href="{{ ASSETS_ROOT }}/img/favicon.png">

    <title>
        AI 智能无人机巡检系统 - {% block title %}{% endblock %} | 中工智联
    </title>

    <!-- Fonts and icons -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,600,700,800" rel="stylesheet"/>
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    <!-- Nucleo Icons -->
    <link href="{{ ASSETS_ROOT }}/css/nucleo-icons.css" rel="stylesheet"/>
    <!-- CSS Files -->
    <link href="{{ ASSETS_ROOT }}/css/black-dashboard.css?v=1.0.1" rel="stylesheet"/>
    <link href="{{ ASSETS_ROOT }}/css/theme-switcher.css" rel="stylesheet"/>
    <!-- CSS Just for demo purpose, don't include it in your project -->
    <link href="{{ ASSETS_ROOT }}/demo/demo.css" rel="stylesheet"/>

    <!-- Specific Page CSS goes HERE -->
    {% block stylesheets %}
    <style>
        .centered-container {
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: calc(100vh - 70px); /* 使内容在垂直方向上居中，并减去导航栏的高度 */
            padding: 20px;
            box-sizing: border-box;
        }
    </style>
    {% endblock stylesheets %}

</head>
<body class="">

<div class="wrapper">

    {% include 'includes/navigation.html' %}

    <div class="centered-container">
        {% block content %}{% endblock content %}
        {% include 'includes/footer.html' %}
    </div>
</div>

{% include 'includes/scripts.html' %}

<!-- Specific Page JS goes HERE -->
{% block javascripts %}{% endblock javascripts %}

</body>
</html>