{% extends "layouts/base-fullscreen.html" %}

{% block title %} 注册 {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <div class="content">
        <div class="container">
            <div class="row pt-5">
                <div class="col-md-6 mt-5 offset-md-3 pt-5 mt-5">
                    <div class="card">
                        <div class="card-header text-center py-4">
                            <h4 class="title">
                                注册
                            </h4>

                            <h6 class="card-category">
                                {% if msg %}
                                    <span class="text-danger">{{ msg | safe }}</span>
                                {% else %}
                                    <span>
                                        请输入您的信息
                                    </span>
                                {% endif %}
                            </h6>

                        </div>

                        {% if success %}

                            <div class="card-footer text-center">
                                <a href="{% url 'login' %}"
                                   class="btn btn-fill btn-primary">登录</a>
                            </div>

                        {% else %}

                            <form role="form" method="post" action="">

                                {% csrf_token %}

                                <div class="card-body px-5 py-3">

                                    <div class="row">
                                        <div class="col-md-12 px-md-1">
                                            <div class="form-group">
                                                <label>用户名</label>
                                                {{ form.username }}
                                            </div>
                                            <span class="text-danger">{{ form.username.errors }}</span>
                                        </div>

                                        <div class="col-md-12 px-md-1">
                                            <div class="form-group">
                                                <label>全名</label>
                                                {{ form.full_name }}
                                            </div>
                                            <span class="text-danger">{{ form.full_name.errors }}</span>
                                        </div>

                                        <div class="col-md-12 px-md-1">
                                            <div class="form-group">
                                                <label>邮箱</label>
                                                {{ form.email }}
                                            </div>
                                            <span class="text-danger">{{ form.email.errors }}</span>
                                        </div>

                                        <div class="col-md-12 px-md-1">
                                            <div class="form-group">
                                                <label>电话</label>
                                                {{ form.phone_number }}
                                            </div>
                                            <span class="text-danger">{{ form.phone_number.errors }}</span>
                                        </div>

                                        <div class="col-md-12 px-md-1">
                                            <div class="form-group">
                                                <label>密码</label>
                                                {{ form.password1 }}
                                            </div>
                                            <span class="text-danger">{{ form.password1.errors }}</span>
                                        </div>

                                        <div class="col-md-12 px-md-1">
                                            <div class="form-group">
                                                <label>确认密码</label>
                                                {{ form.password2 }}
                                            </div>
                                            <span class="text-danger">{{ form.password2.errors }}</span>
                                        </div>

                                        <div class="col-md-12 px-md-1">
                                            <div class="form-group">
                                                <label>邀请码</label>
                                                <input type="text" class="form-control" name="invitation_code" required>
                                            </div>
                                            {% if invitation_code_error %}
                                                <span class="text-danger">{{ invitation_code_error }}</span>
                                            {% endif %}
                                        </div>

                                    </div>

                                </div>
                                <div class="card-footer text-center">
                                    <button type="submit" name="register" class="btn btn-fill btn-primary">注册</button>

                                    <br /><br />

                                    <p>
                                        已有账号? <a href="{% url 'login' %}" class="text-primary">登录</a>
                                    </p>
                                </div>

                            </form>

                        {% endif %}

                    </div>
                </div>

            </div>
        </div>

    </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}