{% extends "layouts/base.html" %}

{% block title %} 直播画面 {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
<style>
.video-container {
  padding-top:100px;
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 创建3列网格 */
  grid-template-rows: repeat(3, 1fr); /* 创建3行网格 */
  gap: 10px; /* 每个网格间的间距 */
  width: 100%;
  height: 100vh; /* 使容器高度为视口高度，实现垂直居中 */
  background-color: transparent; /* 背景颜色设置为透明 */
  margin: 0;
}
.video-element, .img-element {
  width: 100%;
  height: 100%;
  object-fit: cover; /* 保持视频和图片的比例，填充容器 */
  cursor: pointer; /* 添加鼠标悬停效果 */
}
</style>
{% endblock stylesheets %}

{% block content %}
<div class="content">
  <div id="app">
    <div class="video-container">
      <!-- Create 9 video elements and corresponding fallback images -->
      <div v-for="n in 9" :key="n">
        <video ref="`videoElement${n}`" v-show="showVideo" controls class="video-element" @click="openFullScreen(`http://192.168.43.21/hls/stream.m3u8`)"></video>
        <img src="{{ ASSETS_ROOT }}/img/video_feed.jpeg" v-show="!showVideo" alt="Video Stream" class="img-element" @click="openFullScreen('http://1.13.23.62:6060/video_feed')" />
      </div>
    </div>
  </div>
</div>
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/hls.js@latest"></script>
<script>
new Vue({
  el: '#app',
  data() {
    return {
      showVideo: false, // Initially, try to show the video. If you want to show the image, set showVideo to false.
      videoElements: []
    };
  },
  methods: {
    openFullScreen(videoUrl) {
      window.location.href = `/full_screen_video?url=${encodeURIComponent(videoUrl)}`;
    }
  },
  mounted() {
    for (let i = 1; i <= 9; i++) {
      const videoElement = this.$refs[`videoElement${i}`][0];

      if (Hls.isSupported()) {
        const hls = new Hls();
        hls.loadSource('http://192.168.43.21/hls/stream.m3u8');
        hls.attachMedia(videoElement);
        hls.on(Hls.Events.MANIFEST_PARSED, () => {
          videoElement.play();
          this.showVideo = true; // Show the video element if HLS is supported and loaded
        });
      } else if (videoElement.canPlayType('application/vnd.apple.mpegurl')) {
        videoElement.src = 'http://192.168.43.21/hls/stream.m3u8';
        videoElement.addEventListener('loadedmetadata', () => {
          videoElement.play();
          this.showVideo = true; // Show the video element if the browser can play HLS natively
        });
      } else {
        // If neither HLS nor native playback is supported, show the image element
        this.showVideo = false;
      }

      this.videoElements.push(videoElement);
    }
  }
});
</script>
{% endblock javascripts %}