{% extends "layouts/base.html" %}

{% block title %} Tables {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="content">
    <div class="row">
        <div class="col-md-12">
            <h2> 账户设置 </h2>
            <div class="card ">
                <div class="card-header">
                    <h4 class="card-title"> 基本信息</h4>
                </div>
                <div class="card-body">
                    <div class="row mb-3">
                        <div class="col-sm-3 info-label">用户名:</div>
                        <div class="col-sm-9">{{ user_info.username }}</div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-sm-3 info-label">上次运行日期:</div>
                        <div class="col-sm-9">{{ user_info.last_login_date }}</div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-sm-3 info-label">操作:</div>
                        <div class="col-sm-9"><a href="#" class="btn btn-primary">修改密码</a></div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-sm-3 info-label">通知邮箱:</div>
                        <div class="col-sm-9">{{ user_info.notification_email }}</div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-sm-3 info-label">电话:</div>
                        <div class="col-sm-9">{{ user_info.phone }}</div>
                    </div>
                </div>
            </div>

            <div class="card">

                <div class="card-header">
                    <h4 class="card-title">云服务信息</h4>
                </div>
                <div class="card-body">
                    <div class="row mb-3">
                        <div class="col-sm-3 info-label">视频流地址:</div>
                        <div class="col-sm-9">{{ user_info.video_stream_address }}</div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-sm-3 info-label">监测图库:</div>
                        <div class="col-sm-9">{{ user_info.monitoring_address }}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
